@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* Bold Font */
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}