@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* Font */
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    position: relative;
    overflow: hidden;
    padding: 15px;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #4A90E2;
    transition: width 0.3s ease;
    /* 动画过渡效果 */
    z-index: 0;
}

.button:hover::before {
    width: 100%;
    /* Hover时圆形变成药丸的宽度 */
}

.button span {
    position: relative;
    z-index: 1;
    /* 文字在圆形上方显示 */
}