/* scroll bar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
    /* border-radius: 1px; */
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* Bold Font */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}