@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* Font */
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.noto {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    position: relative;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #4A90E2;
    transition: width 0.3s ease;
    z-index: 0;
}

.button:hover::before {
    width: 100%;
}

.button span {
    position: relative;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.btn {
    @apply inline-block px-4 py-2 transition ease-in-out delay-150 button hover:text-gray-100;
}

.badge {
    @apply text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-300 border border-blue-300;
}

.progress-bar {
    @apply inline-flex items-center w-full p-2 mb-2 font-medium text-center border rounded dark:bg-gray-700 me-2;
}

.content-header {
    @apply mb-5 text-3xl font-bold text-gray-300;
}

.item-header {
    @apply mb-2 font-semibold text-gray-300;
}

body {
    @apply text-gray-400 noto;
}

.social-btn {
    @apply hover:scale-150 hover:text-white;
}

.skill-icon {
    @apply w-8 h-4 me-2;
}

.project-image {
    @apply object-cover w-full h-64 lg:h-full lg:w-96;
}

.project-item-container {
    @apply mb-10 border border-blue-400 rounded lg:flex lg:flex-row;
}

.exp-container {
    @apply mb-10 lg:flex lg:flex-row;
}

.skill-score-box {
    @apply absolute top-0 right-0 mt-2 mr-4;
}

.skill-score-text {
    @apply px-2 py-1 text-gray-100 rounded;
}