.browser_dot {
    height: 14px;
    width: 14px;
    background-color: #494949;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.browser_container {
    border: 1px solid rgb(55 65 81);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    box-sizing: border-box;
}

.browser_top {
    padding: 20px;
    background: rgb(17 24 39);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: relative;
}

.browser_top_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999999;
    margin: 0px;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.browser_content {
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: #e7e7e7;
    background: rgb(17 24 39);
    font-family: Consolas, 'Courier New', monospace;
}

.browser_content p {
    line-height: 24px;
    margin: 0;
}

.browser_function_color {
    color: #73dea5;
}

.browser_value_color {
    color: #d9ce6f;
}

.browser_symbol_color {
    color: #ff669c;
}

.browser_inline::before {
    content: '\00a0';
    margin-right: 30px;
}

.browser_inline_2x::before {
    content: '\00a0';
    margin-right: 60px;
}

.floating-image {
    width: 500px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}